body {
    font-size: 20px;
}


.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.zagolovok {
    text-align: center;
    color: blue;
    letter-spacing: 10px;
}

.bold {
    font-weight: 700;
}

#yellow{
    background-color: yellow;
}

.text3 {
    margin: 0px 0px 10px 0px;
}

#grey {
    background-color: gray;
}

.text1 {
    display: block;
    width: 50%;
}

#cyan {
    background-color: aqua;
}

.text2 {
    display: block;
    text-align: right;
    float: right;
    width: 60%;
}

.zagolovok2 {
    display: block;
}

.kursive {
    font-style: italic;
}

h2 {
    color: purple;
}

#purple {
    background-color: hotpink;
    font-size: 25px;
}

.text3 {
    display: block;
    text-align: justify;
}

.text5 {
    display: block;
    text-align: center;
    margin: 0px 0px 10px 0px;
}
.podcherk {
    text-decoration: underline;
}

.text4 {
    text-align: center;
    margin: 0px 0px 10px 0px;
}

#blue{
    color: blue;
    font-family: Georgia;
}

#red {
    color: red;
    font-family: Georgia;
}

.text6 {
    display: block;
    text-align: right;
}

.table-div {
    display: flex;
    justify-content: center;
}

td{
    width: 100px;
}